/composite_solid_volume_150x150x150_[1.333,9]_[5000,3000]_[0,0]_[0,0]_cubes.raw
/composite_solid_volume_150x150x150_[1.333,9]_cubeStats.csv
/composite_solid_volume_150x150x150_[1.333,9]_Lvv.raw
/composite_solid_volume_150x150x150_[1.333,9]_second_derivative.raw
/composite_solid_volume_150x150x150_[1.333,9]_strength.csv
/composite_solid_volume_150x150x150_[1.333,9]magnitude.raw
/composite_solid_volume_150x150x150_[1.333,9]strengthX.raw
/composite_solid_volume_150x150x150_[1.333,9]strengthY.raw
/composite_solid_volume_150x150x150_[1.333,9]strengthZ.raw
/composite_solid_volume_150x150x150_[1.333,9]_[5000,3000]_[0,0]_[0,0]_cubes.raw
/composite_solid_volume_150x150x150_[1.333,9]_cubeStats.csv
/composite_solid_volume_150x150x150_[1.333,9]_Lvv.raw
/composite_solid_volume_150x150x150_[1.333,9]_second_derivative.raw
/composite_solid_volume_150x150x150_[1.333,9]_strength.csv
/composite_solid_volume_150x150x150_[1.333,9]magnitude.raw
/composite_solid_volume_150x150x150_[1.333,9]strengthX.raw
/composite_solid_volume_150x150x150_[1.333,9]strengthY.raw
/composite_solid_volume_150x150x150_[1.333,9]strengthZ.raw
