/sphere_solid_volume_float_150x150x150_[1.333,9]_[346,75]_[55,45]_[0,0]_cubes.raw
/sphere_solid_volume_float_150x150x150_[1.333,9]_cubeStats.csv
/sphere_solid_volume_float_150x150x150_[1.333,9]_Lvv.raw
/sphere_solid_volume_float_150x150x150_[1.333,9]_second_derivative.raw
/sphere_solid_volume_float_150x150x150_[1.333,9]_strength.csv
/sphere_solid_volume_float_150x150x150_[1.333,9]magnitude.raw
/sphere_solid_volume_float_150x150x150_[1.333,9]strengthX.raw
/sphere_solid_volume_float_150x150x150_[1.333,9]strengthY.raw
/sphere_solid_volume_float_150x150x150_[1.333,9]strengthZ.raw
/sphere_solid_volume_float_150x150x150_[1.333,9]_[346,75]_[55,45]_[0,0]_cubes.raw
/sphere_solid_volume_float_150x150x150_[1.333,9]_cubeStats.csv
/sphere_solid_volume_float_150x150x150_[1.333,9]_Lvv.raw
/sphere_solid_volume_float_150x150x150_[1.333,9]_second_derivative.raw
/sphere_solid_volume_float_150x150x150_[1.333,9]_strength.csv
/sphere_solid_volume_float_150x150x150_[1.333,9]magnitude.raw
/sphere_solid_volume_float_150x150x150_[1.333,9]strengthX.raw
/sphere_solid_volume_float_150x150x150_[1.333,9]strengthY.raw
/sphere_solid_volume_float_150x150x150_[1.333,9]strengthZ.raw
